<div class="container mt-5">
  <div div class="row justify-content-md-center">
    <div class="col-4">
      <form #updateProfileForm="ngForm" (ngSubmit)="update()">
        <h2 class="text-center text-primary">Update Profile Info for {{loggedInUser.userName}} </h2>
        <hr>

        <div class="form-group">
          <input type="text" class="form-control" name="fullName" placeholder="Full name" required [(ngModel)]="model.fullName">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="age" placeholder="Age" required [(ngModel)]="model.age">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="hometown" placeholder="Hometown" required [(ngModel)]="model.hometown">
        </div>

        <div class="form-group text-center">
          <button class="btn btn-success mr-4" type="submit">Update profile</button>
          <a [routerLink]="['/view-profile/' + loggedInUser.userId ]"><button class="btn btn-primary" (click)="cancel()">Cancel</button></a>
        </div>
      </form>
    </div>
  </div>
</div>