<div class="center text-center">
  <h2>Upload a new picture</h2>
  <div style="margin-bottom:15px; display:inline-block;">
    <div class="text-center">
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
      <button type="button" class="btn btn-success" (click)="file.click()">Choose pic</button>
    </div>
    <div class="text-center">
      <div class="upload" *ngIf="progress > 0">
        {{progress}}%
      </div>
      <div class="upload" *ngIf="message">
        {{message}}
      </div>
    </div>
  </div>
  <!-- <div class="new-post-card" *ngIf="pictureUploaded"><app-new-post-card [picture]="this.picture"></app-new-post-card></div>  -->
  <hr>
</div>
<div class="container">
  <div class="row h-25 mb-2">
    <div *ngFor="let picture of pictures" class="col-lg-3 col-md-3 col-sm-6">
      <!-- <p> {{ picture.pictureId }} </p> -->
      <app-picture-card [picture]="picture"></app-picture-card>
    </div>
  </div>
</div>



