<div class="card mb-3 mx-auto" style="width: 50rem;">
  <!--This link should not be hardcoded, make this configurable-->
  <img class="card-img-top" src="{{'http://localhost:5000/api/pictures/download/' + post.pictureId}}" alt="Card image" style="width:100%">
  <div class="card-body">
    <!-- <h5 class="card-title"><img class="rounded-circle mr-2" src="{{'http://localhost:5000/api/pictures/download/' + post.user.profilePictureId}}" width="45" height="45"> {{post.user.userName }}</h5> -->
    <h5 class="card-title" [routerLink]="['/view-profile/' + post.user.userId ]">
      <img class="rounded-circle mr-2" src="/assets/images/default_avatar.png" width="45" height="45" *ngIf="post.user.profilePictureId === 0">
      <!-- fix the styling for the image size -->
      <img class="rounded-circle mr-2" src="{{'http://localhost:5000/api/pictures/download/' + post.user.profilePictureId}}" *ngIf="post.user.profilePictureId != 0">   
      {{ post.user.userName }}
    </h5>
    <!-- This date pipe is wrong - I don't know why this isn't working on my machine, it shouldn't need the offset, and 8 is too many, it should be 4 -->
    <h6 class="card-subtitle mb-2 text-muted">{{ post.dateCreated | date:'short':'-0800' }}</h6>
    <p class="card-text">{{ post.story }}</p>
    <ng-template #popTemplate><div [innerHtml]="getLikesUserNames()"></div></ng-template>
    <p class="card-text" >
      <i class='fa fa-star-o' style='font-size:36px' *ngIf="!currentUserLikedPost" (click)="addLikeForCurrentUser()"></i>
      <i class='fa fa-star' style='font-size:36px' *ngIf="currentUserLikedPost" (click)="removeLikeForCurrentUser()"></i> 
      <span class="text-likes"
      [popover]="popTemplate"
      popoverTitle="Liked by:"
      triggers="mouseenter:mouseleave"
      placement="auto">{{likes.length == 0 ? " Click star to like" : " " + likes.length + " Likes" }}</span>
    </p>
  </div>
</div>
