<div class="center text-center">
  <h1>Add a new Post</h1>
  <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
  <button type="button" class="btn btn-success" (click)="file.click()">Choose photo</button>
  <div class="upload mt-2" *ngIf="progress > 0">
    <h4>{{progress}}%</h4>
  </div>
  <div class="upload" *ngIf="message">
    <h4>{{message}}</h4>
  </div>
  <div class="center text-center">
    <div class *ngIf="pictureUploaded">
      <app-new-post-card [picture]="this.picture"></app-new-post-card>
    </div>
  </div>
</div>