<div class="container mt-5">
  <div style="text-align: center">
    <h1>My Profile</h1>
    <h2>View and make changes to your profile here</h2>
    <div class="container">
      <div class="row mt-5">
        <div class="col-4">
          <h4>Profile picture</h4>
          <hr>
        </div>
        <div class="col">
          <h4>User information</h4>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img src="{{'http://localhost:5000/api/pictures/download/' + loggedInUser.profilePictureId}}" *ngIf="loggedInUser.profilePictureId != 0">
          <img src="/assets/images/default_avatar.png" *ngIf="loggedInUser.profilePictureId === 0">
        </div>
        <div class="col my-auto">
          <p>Username: {{ loggedInUser.userName }}</p>
          <p>Full name: {{ !loggedInUser.fullName ? 'none specified' : loggedInUser.fullName }}</p>
          <p>Age: {{ !loggedInUser.age ? 'none specified' : loggedInUser.age }}</p>
          <p>Hometown: {{ !loggedInUser.hometown ? 'none specified' : loggedInUser.hometown }}</p>
          <!-- This date pipe is wrong - I don't know why this isn't working on my machine, it shouldn't need the offset, and 8 is too many, it should be 4 -->
          <p>Date Joined: {{ !loggedInUser.dateJoined ? 'none specified' : loggedInUser.dateJoined | date:'short':'-0800'}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <hr>
          <a [routerLink]="['/change-profile-pic']"><button class="btn btn-success mr-4" type="submit">Change pic</button></a>
          <button class="btn btn-primary" (click)="deleteProfilePic()">Remove pic</button>
        </div>
        <div class="col">
          <hr>
          <a [routerLink]="['/profile-edit']"><button class="btn btn-success" type="submit">Edit profile</button></a>
        </div>
      </div>
    </div>
  </div>