<a href="{{'/view-profile/' + friend.userId}}">
<!-- <div class="card mb-3" [routerLink]="['/view-profile/' + friend.userId ]" height="100%" style="width:15rem;"> -->
<div class="card mb-3" height="100%" style="width:15rem;"> 
  <img class="card-img-top" src="{{'http://localhost:5000/api/pictures/download/' + friend.profilePictureId}}"  *ngIf="friend.profilePictureId != 0">
  <img class="card-img-top" src="/assets/images/default_avatar.png" *ngIf="friend.profilePictureId === 0">
  <img class="overlay" src="/assets/images/friends.png" *ngIf="usersAreFriends">
  <div class="card-body p-1">
    <h5 class="card-title">  
      {{ (friend.userName.length > 20) ? (friend.userName | slice:0:20) + '...' : (friend.userName) }}
    </h5>
    <h6 class="card-title" *ngIf="friend.hometown">  
      {{ (friend.hometown.length > 30) ? (friend.hometown | slice:0:20) + '...' : (friend.hometown) }}
    </h6>
    <h6 class="card-title" *ngIf="!friend.hometown">  
     location n/a
    </h6>
  </div>
</div>
</a> 