.card-img-top {
  width: auto;
  height: 25vh;
  object-fit: cover;
}
.card {
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
}
a {
  text-decoration: none;
}
