<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Postcards</h1>
    <h2>Share your memories with family and friends!</h2>
    <p class="lead">Sign up and start sharing your photos today!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Sign up</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
<!-- put this back in when you get a good photo -->
<div>
  <img src="./assets/images/postcards_faded_cropped.png" width="100%">
</div>