<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="Username" required [(ngModel)]="model.username">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="email" placeholder="Email" required [(ngModel)]="model.email">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password" required [(ngModel)]="model.password">
  </div>

  <div class="form-group text-center">
    <button [disabled]="!registerForm.valid" class="btn btn-success mr-4" type="submit">Register</button>
    <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
    <div *ngIf="registerSuccess">
      <hr mt-3>
      <h2 class="text-center text-primary">Registration Successful!</h2>
      <p class="lead">Log in to share your photos with family and friends</p>
    </div>
    <div *ngIf="registerError">
      <hr mt-3>
      <h2 class="text-center text-primary">Registration error!</h2>
      <p class="lead"> {{error}} </p>
    </div>
  </div>
</form>