<div class="container mt-5">
  <div style="text-align: center">
    <hr>
    <h3>Discover New Friends</h3>
    <hr>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6" *ngFor="let user of users">
        <app-friend-card [friend]="user" [loggedInUser]="loggedInUser"></app-friend-card>
      </div>
    </div>
  </div>
</div>