<div class="card text-center mb-4">
  <!--This link should not be hardcoded, make this configurable-->
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{'http://localhost:5000/api/pictures/download/' + picture.pictureId}}" alt="Card image">
  </div>
  <div class="card-body p-1">
    <div class="button">
      <!-- <button class="btn btn-success" (click)="createNewPost(textarea.value)">Create post</button> -->
      <button class="btn btn-success" (click)="updateProfilePic()">Use for profile</button>
    </div>
  </div>
</div>
