<div class="container mt-5" *ngIf="!loading; else loadingComponent">
  <div style="text-align: center">
    <h2 *ngIf="userIsLoggedInUser">Viewing your profile</h2>
    <h2 *ngIf="!userIsLoggedInUser">Viewing Profile for user: {{user.userName}}</h2>

    <div *ngIf="userIsFriend">
      <h3>You are friends with {{user.userName}}</h3>
      <button class="btn btn-success mr-4" type="submit" (click)="removeFriend()">Remove friend</button>
    </div>

    <div *ngIf="!userIsFriend && !userIsLoggedInUser">
      <h3>You are not friends with {{user.userName}}</h3>
      <button class="btn btn-success mr-4" type="submit" (click)="addFriend()">Add friend</button>
    </div>

    <div class="container">
      <div class="row mt-5">
        <div class="col-4">
          <h4>Profile picture</h4>
          <hr>
        </div>
        <div class="col">
          <h4>User information</h4>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img src="{{'http://localhost:5000/api/pictures/download/' + user.profilePictureId}}" *ngIf="user.profilePictureId != 0">
          <img src="/assets/images/default_avatar.png" *ngIf="user.profilePictureId === 0">
        </div>
        <div class="col my-auto">
          <h4>Username: {{ user.userName }}</h4>
          <h4>Full name: {{ !user.fullName ? 'none specified' : user.fullName }}</h4>
          <h4>Age: {{ !user.age ? 'none specified' : user.age }}</h4>
          <h4>Hometown: {{ !user.hometown ? 'none specified' : user.hometown }}</h4>
          <!-- This date pipe is wrong - I don't know why this isn't working on my machine, it shouldn't need the offset, and 8 is too many, it should be 4 -->
          <h4>Date Joined: {{ !user.dateJoined ? 'none specified' : user.dateJoined | date:'short':'-0800'}}</h4>
        </div>
      </div>
      <div class="row" *ngIf="userIsLoggedInUser">
        <div class="col-4">
          <hr>
          <a [routerLink]="['/change-profile-pic']"><button class="btn btn-success mr-4" type="submit">Change pic</button></a>
          <a href="{{'/view-profile/' + loggedInUser.userId }}"><button class="btn btn-primary" (click)="deleteProfilePic()">Remove pic</button></a>
        </div>
        <div class="col">
          <hr>
          <a [routerLink]="['/profile-edit']"><button class="btn btn-success" type="submit">Edit profile</button></a>
        </div>
      </div>
      <div class="container">
        <hr>
        <h3>Friends of {{user.userName}}</h3>
        <hr>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6" *ngFor="let friend of friends">
            <app-friend-card [friend]="friend" [loggedInUser]="loggedInUser"></app-friend-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingComponent>
  <app-loading></app-loading>
</ng-template>