<div class="card mb-3 mx-auto" style="width: 50rem;">
  <!--This link should not be hardcoded, make this configurable-->
  <img class="card-img-top" src="{{'http://localhost:5000/api/pictures/download/' + picture.pictureId}}" alt="Card image" style="width:100%">
  <div class="card-body">
    <div class="input-group mb-3">
      <textarea #textarea class="form-control" aria-label="With textarea" placeholder="Enter your picture's story here:"></textarea>
    </div>
    <div class="button">
      <button class="btn btn-success" (click)="createNewPost(textarea.value)">Create post</button>
    </div>
  </div>
</div>
